USE [master]
GO
/****** Object:  Database [QuanLyTour]    Script Date: 5/20/2026 5:47:19 PM ******/
CREATE DATABASE [QuanLyTour]
GO
USE [QuanLyTour]
GO
/****** Object:  Table [dbo].[DiaDanh]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DiaDanh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenDiaDanh] [nvarchar](100) NOT NULL,
	[TinhThanh] [nvarchar](100) NOT NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[DonDatTour]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[DonDatTour](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDatTourBanDau] [nvarchar](50) NULL,
	[IdKhachHang] [int] NULL,
	[IdLichKhoiHanhBanDau] [int] NULL,
	[SoLuongNguoi] [int] NULL,
	[HinhThucDatTour] [nvarchar](20) NULL,
	[IdKhuyenMai] [int] NULL,
	[SoTienGiamKhuyenMai] [decimal](18, 2) NULL,
	[TongTienGoc] [decimal](18, 2) NULL,
	[TongTienThanhToan] [decimal](18, 2) NOT NULL,
	[TrangThaiDon] [nvarchar](30) NULL,
	[NgayDat] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HinhAnhTour]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HinhAnhTour](
	[Id_Anh] [int] IDENTITY(1,1) NOT NULL,
	[URL_Anh] [nvarchar](500) NULL,
	[IdTour] [int] NULL,
	[AnhDaiDien] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_Anh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HoiVien]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HoiVien](
	[IdKhachHang] [int] NOT NULL,
	[NgayDangKy] [date] NULL,
	[DiemHienTai] [int] NULL,
	[HangThanhVien] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[IdKhachHang] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[HuyTour]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[HuyTour](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdDonDatTour] [int] NULL,
	[LyDo] [nvarchar](255) NULL,
	[NgayHuy] [datetime] NULL,
	[SoTienHoan] [decimal](18, 2) NULL,
	[TrangThaiHoanTien] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhachHang]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhachHang](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTaiKhoan] [int] NULL,
	[TenKH] [nvarchar](100) NOT NULL,
	[Email] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[CCCD] [varchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[KhuyenMai]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[KhuyenMai](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaKhuyenMai] [nvarchar](50) NULL,
	[TenKhuyenMai] [nvarchar](100) NOT NULL,
	[GiaTriGiam] [decimal](18, 2) NULL,
	[HinhThucGiam] [nvarchar](20) NULL,
	[NgayBatDau] [date] NULL,
	[NgayKetThuc] [date] NULL,
	[SoLuong] [int] NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[LichKhoiHanh]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[LichKhoiHanh](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTour] [int] NOT NULL,
	[NgayKhoiHanh] [date] NOT NULL,
	[NgayKetThuc] [date] NOT NULL,
	[SoChoToiThieu] [int] NULL,
	[SoChoToiDa] [int] NULL,
	[GiaThucTe] [decimal](18, 2) NULL,
	[TrangThai] [nvarchar](30) NULL,
	[LoaiNgay] [nvarchar](20) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NguoiDiTour]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NguoiDiTour](
	[IdNguoiDi] [int] IDENTITY(1,1) NOT NULL,
	[IdDonDatTour] [int] NULL,
	[TenNguoi] [nvarchar](100) NOT NULL,
	[CCCD] [varchar](20) NULL,
	[SDT] [varchar](15) NULL,
	[Email] [nvarchar](100) NULL,
	[NgaySinh] [date] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdNguoiDi] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhanVien]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhanVien](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[IdTaiKhoan] [int] NULL,
	[TenNV] [nvarchar](100) NULL,
	[SDT] [varchar](15) NULL,
	[ChucVu] [nvarchar](50) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[NhomQuyen]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[NhomQuyen](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenNhomQuyen] [nvarchar](100) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[PhanBoDatTour]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[PhanBoDatTour](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[MaDatTourThucTe] [nvarchar](50) NULL,
	[IdDonDatTour] [int] NOT NULL,
	[IdLichKhoiHanhThucTe] [int] NOT NULL,
	[SoLuongPhanBo] [int] NOT NULL,
	[KieuXuLy] [nvarchar](20) NULL,
	[TrangThai] [nvarchar](30) NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[TaiKhoan]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[TaiKhoan](
	[Id_TKhoan] [int] IDENTITY(1,1) NOT NULL,
	[TenDangNhap] [varchar](50) NOT NULL,
	[MatKhau] [nvarchar](255) NOT NULL,
	[VaiTro] [nvarchar](20) NOT NULL,
	[TrangThai] [bit] NULL,
	[IdNhomQuyen] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id_TKhoan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[ThanhToan]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[ThanhToan](
	[IdThanhToan] [int] IDENTITY(1,1) NOT NULL,
	[IdDonDatTour] [int] NULL,
	[LoaiThanhToan] [nvarchar](30) NULL,
	[PhuongThucTT] [nvarchar](30) NULL,
	[SoTien] [decimal](18, 2) NULL,
	[TrangThaiTT] [nvarchar](30) NULL,
	[MaGiaoDich] [nvarchar](50) NULL,
	[NgayThanhToan] [datetime] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdThanhToan] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour](
	[Id] [int] IDENTITY(1,1) NOT NULL,
	[TenTour] [nvarchar](150) NOT NULL,
	[MoTa] [nvarchar](max) NULL,
	[GiaCoBan] [decimal](18, 2) NOT NULL,
	[TrangThai] [bit] NULL,
PRIMARY KEY CLUSTERED 
(
	[Id] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY] TEXTIMAGE_ON [PRIMARY]
GO
/****** Object:  Table [dbo].[Tour_DiaDanh]    Script Date: 5/20/2026 5:47:19 PM ******/
SET ANSI_NULLS ON
GO
SET QUOTED_IDENTIFIER ON
GO
CREATE TABLE [dbo].[Tour_DiaDanh](
	[IdTour] [int] NOT NULL,
	[IdDiaDanh] [int] NOT NULL,
	[ThuTuThamQuan] [int] NULL,
PRIMARY KEY CLUSTERED 
(
	[IdTour] ASC,
	[IdDiaDanh] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, IGNORE_DUP_KEY = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
) ON [PRIMARY]
GO
SET IDENTITY_INSERT [dbo].[DiaDanh] ON 

INSERT [dbo].[DiaDanh] ([Id], [TenDiaDanh], [TinhThanh]) VALUES (1, N'Vịnh Hạ Long', N'Quảng Ninh')
INSERT [dbo].[DiaDanh] ([Id], [TenDiaDanh], [TinhThanh]) VALUES (2, N'Đỉnh Fansipan', N'Lào Cai')
INSERT [dbo].[DiaDanh] ([Id], [TenDiaDanh], [TinhThanh]) VALUES (3, N'Bản Cát Cát', N'Lào Cai')
SET IDENTITY_INSERT [dbo].[DiaDanh] OFF
GO
SET IDENTITY_INSERT [dbo].[DonDatTour] ON 

INSERT [dbo].[DonDatTour] ([Id], [MaDatTourBanDau], [IdKhachHang], [IdLichKhoiHanhBanDau], [SoLuongNguoi], [HinhThucDatTour], [IdKhuyenMai], [SoTienGiamKhuyenMai], [TongTienGoc], [TongTienThanhToan], [TrangThaiDon], [NgayDat]) VALUES (1, N'BK_20260401_001', 1, 1, 2, N'Ghep', 1, CAST(700000.00 AS Decimal(18, 2)), CAST(7000000.00 AS Decimal(18, 2)), CAST(6300000.00 AS Decimal(18, 2)), N'DaXacNhan', CAST(N'2026-04-01T08:30:00.000' AS DateTime))
INSERT [dbo].[DonDatTour] ([Id], [MaDatTourBanDau], [IdKhachHang], [IdLichKhoiHanhBanDau], [SoLuongNguoi], [HinhThucDatTour], [IdKhuyenMai], [SoTienGiamKhuyenMai], [TongTienGoc], [TongTienThanhToan], [TrangThaiDon], [NgayDat]) VALUES (2, N'BK_20260402_002', 2, 2, 4, N'Rieng', NULL, CAST(0.00 AS Decimal(18, 2)), CAST(11200000.00 AS Decimal(18, 2)), CAST(18000000.00 AS Decimal(18, 2)), N'DaXacNhan', CAST(N'2026-04-02T09:15:00.000' AS DateTime))
INSERT [dbo].[DonDatTour] ([Id], [MaDatTourBanDau], [IdKhachHang], [IdLichKhoiHanhBanDau], [SoLuongNguoi], [HinhThucDatTour], [IdKhuyenMai], [SoTienGiamKhuyenMai], [TongTienGoc], [TongTienThanhToan], [TrangThaiDon], [NgayDat]) VALUES (3, N'BK_20260403_003', 3, 3, 10, N'Rieng', 2, CAST(500000.00 AS Decimal(18, 2)), CAST(8500000.00 AS Decimal(18, 2)), CAST(8000000.00 AS Decimal(18, 2)), N'DaXacNhan', CAST(N'2026-04-03T10:20:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[DonDatTour] OFF
GO
INSERT [dbo].[HoiVien] ([IdKhachHang], [NgayDangKy], [DiemHienTai], [HangThanhVien]) VALUES (1, CAST(N'2023-01-15' AS Date), 500, N'Gold')
INSERT [dbo].[HoiVien] ([IdKhachHang], [NgayDangKy], [DiemHienTai], [HangThanhVien]) VALUES (2, CAST(N'2023-02-20' AS Date), 120, N'Silver')
INSERT [dbo].[HoiVien] ([IdKhachHang], [NgayDangKy], [DiemHienTai], [HangThanhVien]) VALUES (3, CAST(N'2023-03-10' AS Date), 1500, N'Platinum')
GO
SET IDENTITY_INSERT [dbo].[HuyTour] ON 

INSERT [dbo].[HuyTour] ([Id], [IdDonDatTour], [LyDo], [NgayHuy], [SoTienHoan], [TrangThaiHoanTien]) VALUES (1, 4, N'Khách bận việc đột xuất không tham gia được', CAST(N'2026-04-10T09:00:00.000' AS DateTime), CAST(1000000.00 AS Decimal(18, 2)), N'ThanhCong')
INSERT [dbo].[HuyTour] ([Id], [IdDonDatTour], [LyDo], [NgayHuy], [SoTienHoan], [TrangThaiHoanTien]) VALUES (2, 10, N'Khách hàng ốm, xin hủy và hoàn tiền', CAST(N'2026-04-15T14:30:00.000' AS DateTime), CAST(9000000.00 AS Decimal(18, 2)), N'ThanhCong')
INSERT [dbo].[HuyTour] ([Id], [IdDonDatTour], [LyDo], [NgayHuy], [SoTienHoan], [TrangThaiHoanTien]) VALUES (3, 13, N'Gia đình có tang sự', CAST(N'2026-04-20T10:15:00.000' AS DateTime), CAST(1600000.00 AS Decimal(18, 2)), N'ThanhCong')
SET IDENTITY_INSERT [dbo].[HuyTour] OFF
GO
SET IDENTITY_INSERT [dbo].[KhachHang] ON 

INSERT [dbo].[KhachHang] ([Id], [IdTaiKhoan], [TenKH], [Email], [SDT], [CCCD]) VALUES (1, 11, N'Nguyễn Hoàng Nam', N'hoangnam@gmail.com', N'0901111111', N'001090000001')
INSERT [dbo].[KhachHang] ([Id], [IdTaiKhoan], [TenKH], [Email], [SDT], [CCCD]) VALUES (2, 12, N'Trần Thu Hà', N'thuha@gmail.com', N'0901111112', N'001090000002')
INSERT [dbo].[KhachHang] ([Id], [IdTaiKhoan], [TenKH], [Email], [SDT], [CCCD]) VALUES (3, 13, N'Lê Minh Quân', N'minhquan@gmail.com', N'0901111113', N'001090000003')
SET IDENTITY_INSERT [dbo].[KhachHang] OFF
GO
SET IDENTITY_INSERT [dbo].[KhuyenMai] ON 

INSERT [dbo].[KhuyenMai] ([Id], [MaKhuyenMai], [TenKhuyenMai], [GiaTriGiam], [HinhThucGiam], [NgayBatDau], [NgayKetThuc], [SoLuong], [TrangThai]) VALUES (1, N'KM_CHAOHE01', N'Chào Hè Rực Rỡ', CAST(10.00 AS Decimal(18, 2)), N'PhanTram', CAST(N'2026-05-01' AS Date), CAST(N'2026-07-31' AS Date), 100, 1)
INSERT [dbo].[KhuyenMai] ([Id], [MaKhuyenMai], [TenKhuyenMai], [GiaTriGiam], [HinhThucGiam], [NgayBatDau], [NgayKetThuc], [SoLuong], [TrangThai]) VALUES (2, N'KM_CHAOHE02', N'Đón Nắng Tháng 6', CAST(500000.00 AS Decimal(18, 2)), N'SoTien', CAST(N'2026-06-01' AS Date), CAST(N'2026-06-30' AS Date), 50, 1)
INSERT [dbo].[KhuyenMai] ([Id], [MaKhuyenMai], [TenKhuyenMai], [GiaTriGiam], [HinhThucGiam], [NgayBatDau], [NgayKetThuc], [SoLuong], [TrangThai]) VALUES (3, N'KM_LEQUOCKHANH', N'Mừng Lễ 2/9', CAST(15.00 AS Decimal(18, 2)), N'PhanTram', CAST(N'2026-08-25' AS Date), CAST(N'2026-09-05' AS Date), 200, 1)
SET IDENTITY_INSERT [dbo].[KhuyenMai] OFF
GO
SET IDENTITY_INSERT [dbo].[LichKhoiHanh] ON 

INSERT [dbo].[LichKhoiHanh] ([Id], [IdTour], [NgayKhoiHanh], [NgayKetThuc], [SoChoToiThieu], [SoChoToiDa], [GiaThucTe], [TrangThai], [LoaiNgay]) VALUES (1, 1, CAST(N'2026-05-10' AS Date), CAST(N'2026-05-11' AS Date), 10, 25, CAST(3500000.00 AS Decimal(18, 2)), N'DangMo', N'NgayThuong')
INSERT [dbo].[LichKhoiHanh] ([Id], [IdTour], [NgayKhoiHanh], [NgayKetThuc], [SoChoToiThieu], [SoChoToiDa], [GiaThucTe], [TrangThai], [LoaiNgay]) VALUES (2, 2, CAST(N'2026-05-15' AS Date), CAST(N'2026-05-17' AS Date), 15, 30, CAST(2800000.00 AS Decimal(18, 2)), N'DangMo', N'NgayThuong')
INSERT [dbo].[LichKhoiHanh] ([Id], [IdTour], [NgayKhoiHanh], [NgayKetThuc], [SoChoToiThieu], [SoChoToiDa], [GiaThucTe], [TrangThai], [LoaiNgay]) VALUES (3, 3, CAST(N'2026-05-20' AS Date), CAST(N'2026-05-20' AS Date), 10, 40, CAST(850000.00 AS Decimal(18, 2)), N'DangMo', N'NgayThuong')
SET IDENTITY_INSERT [dbo].[LichKhoiHanh] OFF
GO
SET IDENTITY_INSERT [dbo].[NguoiDiTour] ON 

INSERT [dbo].[NguoiDiTour] ([IdNguoiDi], [IdDonDatTour], [TenNguoi], [CCCD], [SDT], [Email], [NgaySinh]) VALUES (1, 1, N'Nguyễn Hoàng Nam', N'001090000001', N'0901111111', N'hoangnam@gmail.com', CAST(N'1990-05-12' AS Date))
INSERT [dbo].[NguoiDiTour] ([IdNguoiDi], [IdDonDatTour], [TenNguoi], [CCCD], [SDT], [Email], [NgaySinh]) VALUES (2, 1, N'Trần Thị Bé', N'001090000099', N'0901111199', N'tranbe@gmail.com', CAST(N'1992-08-20' AS Date))
INSERT [dbo].[NguoiDiTour] ([IdNguoiDi], [IdDonDatTour], [TenNguoi], [CCCD], [SDT], [Email], [NgaySinh]) VALUES (3, 2, N'Trần Thu Hà', N'001090000002', N'0901111112', N'thuha@gmail.com', CAST(N'1995-11-05' AS Date))
SET IDENTITY_INSERT [dbo].[NguoiDiTour] OFF
GO
SET IDENTITY_INSERT [dbo].[NhanVien] ON 

INSERT [dbo].[NhanVien] ([Id], [IdTaiKhoan], [TenNV], [SDT], [ChucVu]) VALUES (1, 1, N'Trần Đại Nghĩa', N'0909000001', N'Giám đốc')
INSERT [dbo].[NhanVien] ([Id], [IdTaiKhoan], [TenNV], [SDT], [ChucVu]) VALUES (2, 2, N'Lê Minh Tuấn', N'0909000002', N'Phó Giám đốc')
INSERT [dbo].[NhanVien] ([Id], [IdTaiKhoan], [TenNV], [SDT], [ChucVu]) VALUES (3, 3, N'Phạm Bích Tuyền', N'0909000003', N'Trưởng phòng Điều hành')
SET IDENTITY_INSERT [dbo].[NhanVien] OFF
GO
SET IDENTITY_INSERT [dbo].[NhomQuyen] ON 

INSERT [dbo].[NhomQuyen] ([Id], [TenNhomQuyen], [TrangThai]) VALUES (1, N'Quản trị viên (Admin)', 1)
INSERT [dbo].[NhomQuyen] ([Id], [TenNhomQuyen], [TrangThai]) VALUES (2, N'Quản lý Tour', 1)
INSERT [dbo].[NhomQuyen] ([Id], [TenNhomQuyen], [TrangThai]) VALUES (3, N'Nhân viên CSKH', 1)
SET IDENTITY_INSERT [dbo].[NhomQuyen] OFF
GO
SET IDENTITY_INSERT [dbo].[PhanBoDatTour] ON 

INSERT [dbo].[PhanBoDatTour] ([Id], [MaDatTourThucTe], [IdDonDatTour], [IdLichKhoiHanhThucTe], [SoLuongPhanBo], [KieuXuLy], [TrangThai]) VALUES (1, N'REAL_BK_002_GOC', 2, 2, 2, N'BinhThuong', N'DaPhanBo')
INSERT [dbo].[PhanBoDatTour] ([Id], [MaDatTourThucTe], [IdDonDatTour], [IdLichKhoiHanhThucTe], [SoLuongPhanBo], [KieuXuLy], [TrangThai]) VALUES (2, N'REAL_BK_002_PRIVATE', 2, 31, 2, N'Tach', N'DaPhanBo')
INSERT [dbo].[PhanBoDatTour] ([Id], [MaDatTourThucTe], [IdDonDatTour], [IdLichKhoiHanhThucTe], [SoLuongPhanBo], [KieuXuLy], [TrangThai]) VALUES (3, N'REAL_BK_001', 1, 1, 2, N'BinhThuong', N'DaPhanBo')
SET IDENTITY_INSERT [dbo].[PhanBoDatTour] OFF
GO
SET IDENTITY_INSERT [dbo].[TaiKhoan] ON 

INSERT [dbo].[TaiKhoan] ([Id_TKhoan], [TenDangNhap], [MatKhau], [VaiTro], [TrangThai], [IdNhomQuyen]) VALUES (1, N'admin', N'123456', N'Admin', 1, 1)
INSERT [dbo].[TaiKhoan] ([Id_TKhoan], [TenDangNhap], [MatKhau], [VaiTro], [TrangThai], [IdNhomQuyen]) VALUES (2, N'ceo_tour', N'123456', N'Admin', 1, 1)
INSERT [dbo].[TaiKhoan] ([Id_TKhoan], [TenDangNhap], [MatKhau], [VaiTro], [TrangThai], [IdNhomQuyen]) VALUES (3, N'nv_dieuhanh1', N'123456', N'NhanVien', 1, 2)
SET IDENTITY_INSERT [dbo].[TaiKhoan] OFF
GO
SET IDENTITY_INSERT [dbo].[ThanhToan] ON 

INSERT [dbo].[ThanhToan] ([IdThanhToan], [IdDonDatTour], [LoaiThanhToan], [PhuongThucTT], [SoTien], [TrangThaiTT], [MaGiaoDich], [NgayThanhToan]) VALUES (1, 1, N'ThanhToanConLai', N'ChuyenKhoan', CAST(6300000.00 AS Decimal(18, 2)), N'ThanhCong', N'VNPay_001', CAST(N'2026-04-01T08:35:00.000' AS DateTime))
INSERT [dbo].[ThanhToan] ([IdThanhToan], [IdDonDatTour], [LoaiThanhToan], [PhuongThucTT], [SoTien], [TrangThaiTT], [MaGiaoDich], [NgayThanhToan]) VALUES (2, 2, N'DatCoc', N'ChuyenKhoan', CAST(5000000.00 AS Decimal(18, 2)), N'ThanhCong', N'Momo_002', CAST(N'2026-04-02T09:20:00.000' AS DateTime))
INSERT [dbo].[ThanhToan] ([IdThanhToan], [IdDonDatTour], [LoaiThanhToan], [PhuongThucTT], [SoTien], [TrangThaiTT], [MaGiaoDich], [NgayThanhToan]) VALUES (3, 2, N'ThanhToanConLai', N'TienMat', CAST(6200000.00 AS Decimal(18, 2)), N'ThanhCong', N'Cash_003', CAST(N'2026-04-05T10:00:00.000' AS DateTime))
SET IDENTITY_INSERT [dbo].[ThanhToan] OFF
GO
SET IDENTITY_INSERT [dbo].[Tour] ON 

INSERT [dbo].[Tour] ([Id], [TenTour], [MoTa], [GiaCoBan], [TrangThai]) VALUES (1, N'Khám Phá Hạ Long 2N1Đ', N'Tour du thuyền 5 sao trên vịnh Hạ Long', CAST(3500000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Tour] ([Id], [TenTour], [MoTa], [GiaCoBan], [TrangThai]) VALUES (2, N'Săn Mây Sapa 3N2Đ', N'Chinh phục Fansipan và bản Cát Cát', CAST(2800000.00 AS Decimal(18, 2)), 1)
INSERT [dbo].[Tour] ([Id], [TenTour], [MoTa], [GiaCoBan], [TrangThai]) VALUES (3, N'Hà Nội City Tour 1 Ngày', N'Tham quan các di tích lịch sử tại Thủ Đô', CAST(850000.00 AS Decimal(18, 2)), 1)
SET IDENTITY_INSERT [dbo].[Tour] OFF
GO
INSERT [dbo].[Tour_DiaDanh] ([IdTour], [IdDiaDanh], [ThuTuThamQuan]) VALUES (1, 1, 1)
INSERT [dbo].[Tour_DiaDanh] ([IdTour], [IdDiaDanh], [ThuTuThamQuan]) VALUES (2, 2, 1)
INSERT [dbo].[Tour_DiaDanh] ([IdTour], [IdDiaDanh], [ThuTuThamQuan]) VALUES (2, 3, 2)
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__DonDatTo__643C3E669DB3BA26]    Script Date: 5/20/2026 5:47:19 PM ******/
ALTER TABLE [dbo].[DonDatTour] ADD UNIQUE NONCLUSTERED 
(
	[MaDatTourBanDau] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
/****** Object:  Index [UQ__HuyTour__19ADEEBE09DFE16E]    Script Date: 5/20/2026 5:47:19 PM ******/
ALTER TABLE [dbo].[HuyTour] ADD UNIQUE NONCLUSTERED 
(
	[IdDonDatTour] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhachHan__A955A0AA74CCEBE3]    Script Date: 5/20/2026 5:47:19 PM ******/
ALTER TABLE [dbo].[KhachHang] ADD UNIQUE NONCLUSTERED 
(
	[CCCD] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__KhuyenMa__6F56B3BC15846FD4]    Script Date: 5/20/2026 5:47:19 PM ******/
ALTER TABLE [dbo].[KhuyenMai] ADD UNIQUE NONCLUSTERED 
(
	[MaKhuyenMai] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
SET ANSI_PADDING ON
GO
/****** Object:  Index [UQ__TaiKhoan__55F68FC061ACC2F3]    Script Date: 5/20/2026 5:47:19 PM ******/
ALTER TABLE [dbo].[TaiKhoan] ADD UNIQUE NONCLUSTERED 
(
	[TenDangNhap] ASC
)WITH (PAD_INDEX = OFF, STATISTICS_NORECOMPUTE = OFF, SORT_IN_TEMPDB = OFF, IGNORE_DUP_KEY = OFF, ONLINE = OFF, ALLOW_ROW_LOCKS = ON, ALLOW_PAGE_LOCKS = ON, OPTIMIZE_FOR_SEQUENTIAL_KEY = OFF) ON [PRIMARY]
GO
ALTER TABLE [dbo].[DonDatTour] ADD  DEFAULT ((0)) FOR [SoTienGiamKhuyenMai]
GO
ALTER TABLE [dbo].[DonDatTour] ADD  DEFAULT (getdate()) FOR [NgayDat]
GO
ALTER TABLE [dbo].[HinhAnhTour] ADD  DEFAULT ((0)) FOR [AnhDaiDien]
GO
ALTER TABLE [dbo].[HoiVien] ADD  DEFAULT ((0)) FOR [DiemHienTai]
GO
ALTER TABLE [dbo].[HuyTour] ADD  DEFAULT (getdate()) FOR [NgayHuy]
GO
ALTER TABLE [dbo].[KhuyenMai] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[NhomQuyen] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[TaiKhoan] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[ThanhToan] ADD  DEFAULT (getdate()) FOR [NgayThanhToan]
GO
ALTER TABLE [dbo].[Tour] ADD  DEFAULT ((1)) FOR [TrangThai]
GO
ALTER TABLE [dbo].[DonDatTour]  WITH CHECK ADD FOREIGN KEY([IdKhachHang])
REFERENCES [dbo].[KhachHang] ([Id])
GO
ALTER TABLE [dbo].[DonDatTour]  WITH CHECK ADD FOREIGN KEY([IdKhuyenMai])
REFERENCES [dbo].[KhuyenMai] ([Id])
GO
ALTER TABLE [dbo].[DonDatTour]  WITH CHECK ADD FOREIGN KEY([IdLichKhoiHanhBanDau])
REFERENCES [dbo].[LichKhoiHanh] ([Id])
GO
ALTER TABLE [dbo].[HinhAnhTour]  WITH CHECK ADD FOREIGN KEY([IdTour])
REFERENCES [dbo].[Tour] ([Id])
GO
ALTER TABLE [dbo].[HoiVien]  WITH CHECK ADD FOREIGN KEY([IdKhachHang])
REFERENCES [dbo].[KhachHang] ([Id])
GO
ALTER TABLE [dbo].[HuyTour]  WITH CHECK ADD FOREIGN KEY([IdDonDatTour])
REFERENCES [dbo].[DonDatTour] ([Id])
GO
ALTER TABLE [dbo].[KhachHang]  WITH CHECK ADD FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([Id_TKhoan])
GO
ALTER TABLE [dbo].[LichKhoiHanh]  WITH CHECK ADD FOREIGN KEY([IdTour])
REFERENCES [dbo].[Tour] ([Id])
GO
ALTER TABLE [dbo].[NguoiDiTour]  WITH CHECK ADD FOREIGN KEY([IdDonDatTour])
REFERENCES [dbo].[DonDatTour] ([Id])
GO
ALTER TABLE [dbo].[NhanVien]  WITH CHECK ADD FOREIGN KEY([IdTaiKhoan])
REFERENCES [dbo].[TaiKhoan] ([Id_TKhoan])
GO
ALTER TABLE [dbo].[PhanBoDatTour]  WITH CHECK ADD FOREIGN KEY([IdDonDatTour])
REFERENCES [dbo].[DonDatTour] ([Id])
GO
ALTER TABLE [dbo].[PhanBoDatTour]  WITH CHECK ADD FOREIGN KEY([IdLichKhoiHanhThucTe])
REFERENCES [dbo].[LichKhoiHanh] ([Id])
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD FOREIGN KEY([IdNhomQuyen])
REFERENCES [dbo].[NhomQuyen] ([Id])
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD FOREIGN KEY([IdDonDatTour])
REFERENCES [dbo].[DonDatTour] ([Id])
GO
ALTER TABLE [dbo].[Tour_DiaDanh]  WITH CHECK ADD FOREIGN KEY([IdDiaDanh])
REFERENCES [dbo].[DiaDanh] ([Id])
GO
ALTER TABLE [dbo].[Tour_DiaDanh]  WITH CHECK ADD FOREIGN KEY([IdTour])
REFERENCES [dbo].[Tour] ([Id])
GO
ALTER TABLE [dbo].[DonDatTour]  WITH CHECK ADD CHECK  (([HinhThucDatTour]=N'Rieng' OR [HinhThucDatTour]=N'Ghep'))
GO
ALTER TABLE [dbo].[DonDatTour]  WITH CHECK ADD CHECK  (([SoLuongNguoi]>(0)))
GO
ALTER TABLE [dbo].[DonDatTour]  WITH CHECK ADD CHECK  (([TongTienGoc]>=(0)))
GO
ALTER TABLE [dbo].[DonDatTour]  WITH CHECK ADD CHECK  (([TongTienThanhToan]>=(0)))
GO
ALTER TABLE [dbo].[DonDatTour]  WITH CHECK ADD CHECK  (([TrangThaiDon]=N'DaHuy' OR [TrangThaiDon]=N'DaXacNhan' OR [TrangThaiDon]=N'ChoXuLy'))
GO
ALTER TABLE [dbo].[HoiVien]  WITH CHECK ADD CHECK  (([DiemHienTai]>=(0)))
GO
ALTER TABLE [dbo].[HoiVien]  WITH CHECK ADD CHECK  (([HangThanhVien]=N'Platinum' OR [HangThanhVien]=N'Gold' OR [HangThanhVien]=N'Silver'))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([NgayKetThuc]>=[NgayBatDau]))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([HinhThucGiam]=N'SoTien' OR [HinhThucGiam]=N'PhanTram'))
GO
ALTER TABLE [dbo].[KhuyenMai]  WITH CHECK ADD CHECK  (([SoLuong]>=(0)))
GO
ALTER TABLE [dbo].[LichKhoiHanh]  WITH CHECK ADD CHECK  (([LoaiNgay]=N'NgayLe' OR [LoaiNgay]=N'NgayThuong'))
GO
ALTER TABLE [dbo].[LichKhoiHanh]  WITH CHECK ADD CHECK  (([SoChoToiThieu]>=(0)))
GO
ALTER TABLE [dbo].[LichKhoiHanh]  WITH CHECK ADD CHECK  (([SoChoToiDa]>(0)))
GO
ALTER TABLE [dbo].[LichKhoiHanh]  WITH CHECK ADD CHECK  (([TrangThai]=N'DaHuy' OR [TrangThai]=N'DaDay' OR [TrangThai]=N'DangMo' OR [TrangThai]=N'SapKhoiHanh'))
GO
ALTER TABLE [dbo].[LichKhoiHanh]  WITH CHECK ADD CHECK  (([NgayKetThuc]>=[NgayKhoiHanh]))
GO
ALTER TABLE [dbo].[LichKhoiHanh]  WITH CHECK ADD CHECK  (([SoChoToiDa]>=[SoChoToiThieu]))
GO
ALTER TABLE [dbo].[PhanBoDatTour]  WITH CHECK ADD CHECK  (([KieuXuLy]=N'Tach' OR [KieuXuLy]=N'Ghep' OR [KieuXuLy]=N'BinhThuong'))
GO
ALTER TABLE [dbo].[PhanBoDatTour]  WITH CHECK ADD CHECK  (([SoLuongPhanBo]>(0)))
GO
ALTER TABLE [dbo].[PhanBoDatTour]  WITH CHECK ADD CHECK  (([TrangThai]=N'DaHuy' OR [TrangThai]=N'DaPhanBo' OR [TrangThai]=N'ChoXuLy'))
GO
ALTER TABLE [dbo].[TaiKhoan]  WITH CHECK ADD CHECK  (([VaiTro]=N'KhachHang' OR [VaiTro]=N'NhanVien' OR [VaiTro]=N'Admin'))
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD CHECK  (([LoaiThanhToan]=N'ThanhToanConLai' OR [LoaiThanhToan]=N'DatCoc'))
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD CHECK  (([PhuongThucTT]=N'ChuyenKhoan' OR [PhuongThucTT]=N'TienMat'))
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD CHECK  (([SoTien]>=(0)))
GO
ALTER TABLE [dbo].[ThanhToan]  WITH CHECK ADD CHECK  (([TrangThaiTT]=N'DaHoan' OR [TrangThaiTT]=N'ThatBai' OR [TrangThaiTT]=N'ThanhCong' OR [TrangThaiTT]=N'ChoXuLy'))
GO
USE [master]
GO
